.wrapper {
    --outline-margin: 4px;
    --outline-width: 2px;
    --outline-color: rgba(75, 75, 75, 0.5);
    --outline-active-color: rgb(29, 29, 29);
    --border-radius: 16px;
    --icon-width: 1rem;
    display: flex;
    gap: calc(var(--icon-width) / 2);
}

.color-icon {
    all: unset;
    border: none;
    outline: none;
    display: block;
    position: relative;
    border-radius: var(--border-radius);
    width: var(--icon-width);
    height: var(--icon-width);
    box-shadow: 0px 0px 0px 1px var(--outline-color);
}

.color-icon:active,
.color-icon:hover,
.color-icon:focus {
    outline: none;
}

.color-icon::before {
    position: absolute;
    content: "";
    z-index: 1;
    top: calc(-1* var(--outline-margin));
    bottom: calc(-1* var(--outline-margin));
    left: calc(-1* var(--outline-margin));
    right: calc(-1* var(--outline-margin));
    border: var(--outline-width) solid var(--outline-active-color);
    border-radius: calc(var(--border-radius) + var(--outline-margin)/2);
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.color-icon.active::before {
    visibility: visible;
    opacity: 1;
}

/* Icon border radius */
.r-none {
    --border-radius: 0;
}

.r-small {
    --border-radius: 0.25rem;
}

.r-medium {
    --border-radius: 0.375rem;
}

.r-large {
    --border-radius: 0.5rem;
}

.r-full {
    --border-radius: 5rem;
}


/* Size */
.s-small {
    --icon-width: 0.875rem;
}

.s-medium {
    --icon-width: 1rem;
}

.s-large {
    --icon-width: 1.25rem;
}