/* Main wrapper */
.wrapper {
    --fg-color: #383838;
    --bg-color: white;
    --border-radius: 1rem;
    --padding: 1rem;
    --action-icon-color: #ffffff;
    --action-icon-size: 1.5rem;
    --detail-button-color: #383838;
    --detail-button-size: 1.25rem;
    --details-gap: 0.5rem;
    --characteristics-color: #383838;
    width: 100%;
    border-radius: var(--border-radius);
    color: var(--fg-color);
    background-color: var(--bg-color);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1),
        0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* Image wrapper */
.image-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-text {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
}
.image-text p{
    font-size: 0.875rem;
    margin-top: 0;
}


/* Body */
.body {
    color: var(--fg-color);
    padding: var(--padding);
}

.body>a,
.body .body-link {
    color: currentColor;
}

.body>a:hover,
.body .body-link:hover {
    text-decoration: none;
}

/* body content layout */
.body-content {
    margin-top: 0rem;
}

/* Text content */
.text-content {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    align-items: flex-start;
}

.text-content .text {
    flex: 1 auto;
}

.text-content .aside {
    flex-grow: 0;
}


/* Title text */
.title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0.25rem;
}

.price {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.25rem;
}

.desc p {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 0.875rem;
}

/* Aside details */
.a-details {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--details-gap);
}


/* Characteristics */
.characteristics {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    line-height: 1.5;
    color: var(--characteristics-color);
}


/* Characteristics Item */
.charac-item {
    display: flex;
    align-items: flex-start;
    font-size: 0.875rem;
    align-items: center;
    gap: 0.25rem;
    font-weight: 600;
}

.c-icon {
    display: inline-flex;
    font-size: 1.125em;
    min-width: 1em;
    height: 1em;
    display: flex;
}

.c-text {
    display: inline-flex;
}

/* rating */
.r-comment {
    margin-left: 0.5rem;
}

/* Action Button */
.action-button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.125rem 0;
    line-height: 1.25;
    font-weight: 400;
    min-height: var(--detail-button-size);
    color: var(--detail-button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    gap: 0.25rem
}

.action-button .icon {
    min-width: var(--detail-button-size);
    min-height: var(--detail-button-size);
    font-size: var(--detail-button-size);
    display: flex;
}

.action-button .text {
    font-size: 0.875rem;
    margin: 0;
}

.action-button:hover,
.action-button:active,
.action-button:focus {
    border: none;
    outline: none;
    opacity: 0.7;
}

/* Border radius */
.r-none {
    --border-radius: 0;
}

.r-small {
    --border-radius: 0.5rem;
}

.r-medium {
    --border-radius: 1rem;
}

.r-large {
    --border-radius: 2rem;
}


/* Customized color */
.variant-simple {
    --bg-color: transparent;
    --padding: 0px;
    --action-button-size: 1.25rem;
    --footer-padding-y: 0.5rem;
    --footer-padding-x: 0rem;
    box-shadow: none;
}

.variant-simple .image-wrapper {
    border-radius: var(--border-radius);

}

.variant-simple .body-content {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
}

.variant-simple .footer {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}