/* Tabs roots */
.tabs-roots {
    --tabs-list-bg-color: #DEDEDE;
    --tabs-list-gap: 0.25rem;
    --tabs-list-border-radius: 0.5rem;
    --trigger-fg-color: #567FEF;
    --trigger-bg-color: transparent;
    --trigger-active-fg-color: #567FEF;
    --trigger-active-bg-color: #FFFFFF;
    --trigger-font-size: 1rem;
    --trigger-icon-size: 1.25rem;
    --trigger-height: 2.5rem;
    --trigger-padding-x: 1.25rem;
    --trigger-border-radius: 0.5rem;
    --content-bg-color: #ffffff;
    --content-border-radius: 1rem;
    --content-padding: 1rem;
    border-radius: var(--tabs-list-border-radius) var(--tabs-list-border-radius) var(--content-border-radius) var(--content-border-radius);
    width: fit-content;
    position: relative;
}

/* set gap to 0 on large devices */
@media screen and (min-width: 1024px) {
    .tabs-roots {
        --tabs-list-gap: 0px;
    }
}

.tabs-list-wrapper {
    border-radius: var(--tabs-list-border-radius) var(--tabs-list-border-radius) 0 0;
    background-color: var(--tabs-list-bg-color);
}

.tabs-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--tabs-list-gap);
}

.tabs-trigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--trigger-font-size);
    color: var(--trigger-fg-color);
    padding: 0.25rem var(--trigger-padding-x);
    min-height: var(--trigger-height);
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    z-index: 0;
}

.tabs-trigger:focus {
    border: none;
    outline: none;
}

.tabs-trigger::before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    height: 60%;
    width: 100%;
    border-radius: var(--trigger-border-radius) var(--trigger-border-radius) 0 0;
    background-color: var(--trigger-bg-color);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.tabs-trigger[data-state='active'] {
    color: var(--trigger-active-fg-color);
}

.tabs-trigger[data-state='active']::before {
    visibility: visible;
    opacity: 1;
    height: 100%;
    background-color: var(--trigger-active-bg-color);
}

.tabs-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs-icon>* {
    width: var(--trigger-icon-size);
}

/* Tabs content */
.tabs-content {
    background-color: var(--content-bg-color);
    padding: var(--content-padding);
    border-radius: 0 0 var(--content-border-radius) var(--content-border-radius);
}

/* Border radius */
.r-none {
    --tabs-list-border-radius: 0rem;
    --trigger-border-radius: 0rem;
}

.r-small {
    --tabs-list-border-radius: 0.25rem;
    --trigger-border-radius: 0.25rem;
}

.r-medium {
    --tabs-list-border-radius: 0.5rem;
    --trigger-border-radius: 0.5rem;
}

.r-large {
    --tabs-list-border-radius: 1rem;
    --trigger-border-radius: 1rem;
}

/* Shadow */
.sh-small.tabs-roots {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.17);
}

.sh-medium.tabs-roots {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
}

/* Customized color */
/* variant="style-b" */
.variant-style-b .tabs-trigger::before {
    background: linear-gradient(to bottom, #DEDEDE, #FFFFFF);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.17);
}