/* Main wrapper */
.wrapper {
  --fg-color: #303030;
  --bg-color: transparent;
  --image-border-radius: 0.5rem;
  --border-radius: 0.5rem;
  --label-margin: 0.5rem;
  --label-fg-color: #FFFFFF;
  --label-bg-color: #f32d5e;
  width: 100%;
  color: var(--fg-color);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}

/* Media wrapper */
.media {
  overflow: hidden;
  border-radius: var(--image-border-radius);
  margin-bottom: 1rem;
  position: relative;
  transition: 0.2s;
}

.wrapper:hover .media {
  box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.3s;
}

.wrapper:hover .media .image {
  transform: scale(1.1);
  transition: 0.3s;
}

/* Label */
.label-wrapper {
  position: absolute;
  right: var(--label-margin);
  bottom: var(--label-margin);
  z-index: 1;
}

.label {
  color: var(--label-fg-color);
  background-color: var(--label-bg-color);
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  line-height: 1;
  border-radius: 0.25rem;
}

/* Content */
.content.align-start {
  text-align: left;
  text-align: start;
}

.content.align-center {
  text-align: center;
}


/* Text content */
.title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.category {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  opacity: 0.7;
}

.desc {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.125rem;
  line-height: 1.2;
}

/* Customized variant */
.variant-fashion{
  --label-bg-color: #9c7114;
}
.variant-fashion .title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

.variant-fashion .price {
  color: #9c7114;
}