.image-wrapper {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media screen and (min-width: 768px) {
    .image-wrapper {
        margin-left: 0px;
        margin-right: -32px;
        margin-bottom: 0px;
        /* margin-top: -80px; */
        margin-top: 0px;
    }
}

.image {
    width: 100%;
    height: auto;
}

.icon-group{
    display: flex;
    gap: 0.5rem;
}
.icon-group .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-element{
    --icon-size: 2.5rem;
    font-size: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
}