.button {
    --fg-color: currentColor;
    --font-size: 1rem;
    --border-color: currentColor;
    --border-size: 2px;
    --border-offset: 2px;
    --border-border-radius: 2px;
    --height: 2.5rem;
    --gap: 0.5rem;
    display: inline-flex;
    align-items: center;
    gap: var(--gap);
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0em;
    font-size: var(--font-size);
    color: var(--fg-color);
    transition: 0.2s;
    position: relative;
}

.button::before, .button::after
 {
    content: "";
    position: absolute;
    display: block;
    border-radius: var(--border-border-radius);
    bottom: calc(-1 * var(--border-offset));
    height: var(--border-size);
    background-color: var(--border-color);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.25, 0.75, 0.2, 1);
}
.button::before {
    left: 0;
    right: 100%;
}
.button::after {
    left: 00%;
    right: 00%;
    transition-delay: 0.2s;
}

.button:hover::before {
    right: 0%;
    transition-delay: 0.2s;
}
.button:hover::after {
    left: 100%;
    transition-delay: 0s;
}

/* Size */
.s-x-small {
    --font-size: 0.75rem;
    --border-offset: 0px;
}

.s-small {
    --font-size: 0.875rem;
}

.s-large {
    --font-size: 1.25rem;
}

/* Width */
.w-full {
    width: 100%;
}

/* Border size */
.b-none {
    --border-size: 0px;
}

.b-thin {
    --border-size: 1px;
}

.b-medium {
    --border-size: 2px;
}

/* sample customization */
.variant-default {
    /* This is the default color */
}

.variant-blue {
    --fg-color: #567FEF;
    --border-color: #567FEF;
}

.variant-black {
    --fg-color: #303030;
    --border-color: #303030;
}