.section {
    width: 100%;
    margin-left:  auto;
    margin-right:  auto;
    /* padding-left: var(--page-margin-x);
    padding-right: var(--page-margin-x); */
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: relative;

}
@media screen and (min-width: 768px) {
    .section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.section.with-x-page-margin {
    padding-left: var(--page-margin-x);
    padding-right: var(--page-margin-x);
    
}
@media screen and (min-width: 1024px) {
    .section.with-x-page-margin {
        padding-left: var(--page-margin-x);
        padding-right: var(--page-margin-x);
    }
}




.bg {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.bgImage {
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 0;
}

.content.width-medium {
    max-width: var(--page-width-md);
}

.content.width-large {
    max-width: var(--page-width-lg);
}

.large {
    max-width: var(--page-width-lg);
}

/* Padding */
.pt-none {
    padding-top: 0rem;
}

.pb-none {
    padding-bottom: 0rem;
}

@media screen and (min-width:1024px) {
    .pt-none {
        padding-top: 0rem;
    }

    .pb-none {
        padding-bottom: 0rem;
    }
}

/* Padding */
.pt-large {
    padding-top: 4rem;
}

.pb-large {
    padding-bottom: 4rem;
}

@media screen and (min-width:1024px) {
    .pt-large {
        padding-top: 7.5rem;
    }

    .pb-large {
        padding-bottom: 7.5rem;
    }
}