// scss-docs-start theme-colors-map
$theme-colors: (
  "primary",
  "secondary",
  "success",
  "info",
  "warning",
  "danger",
  "light",
  "dark"
) !default;

$colors: (
  "blue",
  "cyan",
  "green",
  "indigo",
  "orange",
  "pink",
  "purple",
  "red",
  "teal",
  "yellow",
) !default;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px; // 62rem = 992px old : 1024
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px; //1600