.field-label{
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 0.5rem;
    margin-top: 0.75rem;
}

.field-value{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}