.input-container {
    --bg-color: #ffffff;
    --fg-color: #383838;
    --height: 2.5rem;
    --border-color: #383838;
    --border-size: 0px;
    --shadow-color: #3838385b;
    --focus-color: #045ccf;
    --shadow-offset: 4px;
    --shadow-flat-offset: 6px;
    --border-width: 0px;
    --border-color: currentColor;
    --label-font-size: 0.75rem;
    --label-border-size: 0px;
    --label-bg-color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0em 0.25em;
    min-height: var(--height);
    width: 100%;
    color: var(--fg-color);
    background-color: var(--bg-color);
    border: var(--border-size) solid var(--border-color);
    /* overflow: hidden; */
    transition: 0.2s;
    position: relative;
}

.input-container.with-label {
    /* add margin top: label font size * label line height * half */
    margin-top: calc(var(--label-font-size) * 1.5 *0.5);
}

/* shadow */
.sh-medium {
    box-shadow: 0px 0px 1px var(--shadow-color),
        0px var(--shadow-offset) 10px -2px var(--shadow-color);
}

.sh-medium.active,
.sh-medium:active,
.sh-medium:focus,
.sh-medium:hover {
    box-shadow: 0px 0px 1px var(--shadow-color);
}

.sh-flat {
    --shadow-color: currentColor;
    box-shadow: var(--shadow-flat-offset, 6px) var(--shadow-flat-offset, 6px) 0px 0px var(--shadow-color);
}

.input-container:focus-within {
    box-shadow: 0px 0px 2px var(--focus-color);
    --border-color: var(--focus-color);
}

/* Input and inner label wrapper */
.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper>input,
.input-wrapper>textarea {
    width: 100%;
    min-height: var(--height);
    border: none;
    outline: none;
    padding: 0.25em 0.5em;
    background-color: transparent;
    color: currentColor;
}

/* Label */
.label {
    top: -0em;
    left: 1em;
    position: absolute;
    font-size: var(--label-font-size);
    padding: 0rem 0.5rem;
    transform: translateY(-50%);
    border-radius: 1rem;
    border: var(--label-border-size) solid var(--border-color);
    background-color: var(--label-bg-color);
}

/* Before element */
.before-element {
    margin-left: 0.5em;
    /* margin-right: 0.25em; */
    line-height: 1;
}

/* After element */
.after-element {
    line-height: 1;
}

/* Height */
.h-medium {
    --height: 2.5rem;
}

.h-large {
    --height: 3rem;
}

/* Size */
.s-large {
    font-size: 1.25rem;
    min-height: 3rem;
    min-width: 3rem;
}

/* Border size */
.b-none {
    --label-bg-color: #f2f3f4;
}

.b-thin {
    --border-size: 1px;
    --label-border-size: 1px;
    --label-bg-color: var(--bg-color);
}

.b-medium {
    --border-size: 2px;
    --label-border-size: 2px;
    --label-bg-color: var(--bg-color);
}

.b-large {
    --border-size: 4px;
    --label-border-size: 4px;
    --label-bg-color: var(--bg-color);
}

/* Label Border size */
.lb-auto {}

.lb-none {
    --label-border-size: 0px;
    --label-bg-color: #f2f3f4;
}

.lb-thin {
    --label-border-size: 1px;
    --label-bg-color: var(--bg-color);
}

.lb-medium {
    --label-border-size: 2px;
    --label-bg-color: var(--bg-color);
}

.lb-large {
    --label-border-size: 4px;
    --label-bg-color: var(--bg-color);
}

/* Border radius */
.r-none {
    border-radius: 0;
}

.r-small {
    border-radius: 0.25rem;
}

.r-medium {
    border-radius: 0.5rem;
}

.r-large {
    border-radius: 1rem;
}

.r-full {
    border-radius: 5rem;
}

/* sample customization */
.variant-blue {
    --fg-color: #4d77ff;
    --border-color: #4d77ff;
    --shadow-color: #4d77ff5b;
}