.appbar-top {
  width: 100%;
  background-color: rgba(var(--primary-rgb), 0.1);
  border-bottom: 1px solid  rgba(var(--primary-rgb), 0.25);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  position: relative;
  /* &::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(var(--white-rgb), 1);
  } */
  .appbar-container {
    width: 100%;
    max-width: var(--page-width-lg);
    margin: 0 auto;
    padding: 0 var(--page-margin-x);
  }
  .navbar {
    // position: relative;
    flex: 1 1;
    height: var(--appbar-primary-height);
    display: flex;
    align-items: center;
  }
}
