/* Main wrapper */
.wrapper {
    --fg-color: rgb(56, 56, 56);
    --bg-color: white;
    --padding: 0.5rem;
    --border-radius: 0.75rem;
    --image-border-radius: 0.5rem;
    width: 100%;
    padding: var(--padding);
    border-radius: var(--border-radius);
    color: var(--fg-color);
    background-color: var(--bg-color);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1),
        0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* Image wrapper */
.media {
    overflow: hidden;
    border-radius: var(--image-border-radius);
    margin-bottom: 1rem;
    position: relative;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image.square {
    aspect-ratio: 1;
}

.image-controls {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    gap: 0.5rem;
}

.icon-button {
    border: none;
    outline: none;
    min-width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0rem 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10rem;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Content */
.content>a {
    color: currentColor;
}

.content>a:hover {
    text-decoration: none;
}

.category {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    opacity: 0.7;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.desc {
    margin-bottom: 0.5rem;
}

.price {
    font-size: 1.125rem;
    line-height: 1.2;
    margin-bottom: 0.25rem;
}

/* Footer elements */
.footer {
    margin-top: 0.75rem;
    display: flex;
    flex-wrap: nowrap;
}

.f-left {
    flex-grow: 1;
}

.f-right {
    flex-grow: 0;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    font-size: 0.875rem;
    border-radius: 5rem;
    padding: 0.25rem 0.75rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.rating-icon {
    font-size: 1.25rem;
    line-height: 1rem;
}

/* Customized color */
.variant-dark {
    --fg-color: #ffffff;
    --bg-color: #424242;
}

.variant-simple {
    --bg-color: transparent;
    --fg-color: currentColor;
    --padding: 0;
    box-shadow: none;
}