/* Main wrapper */
.wrapper {
  --fg-color: rgb(56, 56, 56);
  --bg-color: transparent;
  --padding: 0rem;
  --border-radius: 0.5rem;
  --image-border-radius: 0.5rem;
  width: 100%;
  padding: var(--padding);
  color: var(--fg-color);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}

/* Media image wrapper */
.media {
  overflow: hidden;
  border-radius: var(--image-border-radius);
  margin-bottom: 1rem;
  position: relative;
  transition: 0.2s;
}

.wrapper:hover .media {
  box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image.square {
  aspect-ratio: 1;
}

/* Body */
.content.align-start {
  text-align: left;
  text-align: start;
}

.content.align-center {
  text-align: center;
}

.content>a {
  color: var(--fg-color);
}

.content>a:hover {
  text-decoration: none;
}

/* Text content */
.category {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  opacity: 0.7;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.desc {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 1.25rem;
  line-height: 1.2;
}

/* Buttons */
.btn {
  all: unset;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--fg-color);
  color: #ffffff;
}

/* Footer elements */
.footer {
  display: flex;
  flex-wrap: nowrap;
}

.footer.align-start {
  align-items: center;
  justify-content: flex-start;
}

.footer.align-start .price {
  flex-grow: 1;
}

.footer.align-center {
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 0.75rem;
}

.footer.align-center .price {
  flex-grow: 1;
  margin-bottom: 0.75rem;
}

/* Customized color */
.variant-green {
  --fg-color: #08a087;
}

.variant-green .btn {
  background-color: var(--fg-color);
  color: #ffffff;
}