/* Main wrapper */
.wrapper {
    --fg-color: currentColor;
    --icon-size: 1.25em;
    --bar-size: 1.125em;
    --bar-height: 0.75mm;
    --bar-radius: 4mm;
    /* --bar-gap: 0.75mm; */
    --bar-gap: 1.5mm;
    width: var(--icon-size);
    height: var(--icon-size);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar1,
.bar2,
.bar3 {
    display: block;
    width: var(--bar-size);
    height: var(--bar-height);
    border-radius: var(--bar-radius);
    background-color: var(--fg-color);
    margin-bottom: var(--bar-gap);
    transition: 0.3s;
    transform-origin: center;
}

.bar1 {
    width: calc(0.5 * var(--bar-size));
    align-self: flex-start;
}

.bar3 {
    margin-bottom: 0;
    width: calc(0.5 * var(--bar-size));
    align-self: flex-end;
}

.open .bar2 {
    transform: scaleX(0);
    opacity: 0;
}

.open .bar1 {
    width: var(--bar-size);
    transform: translateY(calc(var(--bar-gap) + var(--bar-height))) rotate(45deg);
}

.open .bar3 {
    width: var(--bar-size);
    transform: translateY(calc(-1 * (var(--bar-gap) + var(--bar-height)))) rotate(-45deg);
}

/* Alternative colors and variants */
.c-style-a {
    --bar-height: 4px;
    --fg-color: #2e35ee;
}