/* Main wrapper */
.wrapper {
    --bg-color: #e7f2ff;
    --fg-color: #567fef;
    --border-radius: 1rem;
    --padding: 1rem;
    --image-size: 3rem;
    
    --action-button-color: var(--fg-color);
    --action-button-size: 1.5rem;
    --actions-gap: 0.25rem;
    width: 100%;
    padding: var(--padding);
    border-radius: var(--border-radius);
    color: var(--fg-color);
    background-color: var(--bg-color);
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1),
        0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}

/* on hover */
.wrapper:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15),
        0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    flex:1;
}

/* Background Image */
.image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Main icon */
.icon-wrapper {
    width: var(--image-size);
    height: var(--image-size);
    font-size: var(--image-size);
    display: flex;
    line-height: 1;
    margin-bottom: 0.5rem;
    z-index: 0;
}

/* Content */
.child-content {
    z-index: 0;
    display: flex;
    flex-direction: column;
}
.cc-wrapper{

}

/* Footer */
.footer{
    flex: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Action controls at top */
.actions {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--actions-gap);
}
.action-button{
    padding: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0;
    line-height: 0;
    min-height: var(--action-button-size);
    color: var(--action-button-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    gap: 0.25rem
}

.action-button .icon {
    min-width: var(--action-button-size);
    min-height: var(--action-button-size);
    font-size: var(--action-button-size);
}

.action-button .text {
    font-size: 0.875rem;
    margin: 0;
}

.action-button:hover,
.action-button:active,
.action-button:focus {
    border: none;
    outline: none;
    opacity: 0.7;
}

/* Aspect ratio */
.ar-square {
    aspect-ratio: 1;
}

/* Align */
/* Horizontal align */
.ha-left .child-content,
.ha-start .child-content {
    align-items: flex-start;
}

.ha-center .child-content {
    align-items: center;
    text-align: center;
}

.ha-end .child-content,
.ha-right .child-content {
    align-items: flex-end;
    text-align: right;
}

/* Border radius */
.r-none {
    --border-radius: 0;
}

.r-small {
    --border-radius: 0.5rem;
}

.r-medium {
    --border-radius: 1rem;
}

.r-large {
    --border-radius: 2rem;
}

/* Customized color */
.variant-gradient-orange {
    --fg-color: #ffffff;
    --bg-color: #fa7d2a;
}

.variant-gradient-orange {
    background: linear-gradient(to top right, #EC3A77, #FFB85A);
}
.variant-gradient-blue {
    --fg-color: #ffffff;
    --bg-color: #2a57fa;
}

.variant-gradient-blue {
    background: linear-gradient(to top right, #2a57fa, #5ab8ff);
}