.lp-section {
    &.text-content-large {
        font-size: 1.125rem;

        @media screen and (min-width: $breakpoint-md) {
            font-size: 1.25rem;
        }

        @media screen and (min-width: $breakpoint-lg) {
            font-size: 1.375rem;
            ;
        }
    }

    &.text-content-medium {
        font-size: 1rem;

        @media screen and (min-width: $breakpoint-md) {
            font-size: 1.125rem;
        }
    }

    .text-paragraphs {
        p {
            margin-bottom: 1rem;
        }
    }

    .features-three-grid {
        .item {
            @media screen and (min-width: $breakpoint-md) {
                width: 100%;
                // padding-right: 1rem;
            }
        }
    }
}