.section {
    --fg-color: #FFFFFF;
    --bg-color: #303030;
    --min-height: 640px;
    --max-width: 768px;
    --padding-x: 1rem;
    --padding-y: 3rem;
    --btn-fg-color: #303030;
    --btn-bg-color: #FFFFFF;
    width: 100%;
    position: relative;
    background-color: var(--bg-color);
    color: var(--fg-color);
    min-height: var(--min-height);
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    /* Content alignment */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Responsiveness */
@media screen and (min-width:1024px) {
    .section {
        --padding-x: 3rem;
    }
}

/* Background image */
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.bg-image .image,
.bg-image .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-wrapper {
    position: relative;
    max-width: var(--max-width);
}

.heading-1 {
    font-size: 2.5rem;
    font-weight: 800;
}
@media screen and (min-width:1024px) {
    .heading-1 {
        font-size: 3rem;
    }
}


.heading-2 {
    font-size: 1rem;
    text-transform: uppercase;
}

.desc {
    font-size: 1rem;
}

@media screen and (min-width:1024px) {
    .desc {
        font-size: 1.25rem;
    }
}

.btns-group {
    margin-top: 1rem;
}

/* Sample button based on ButtonA */
.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 1rem;
    padding: 0.25em 1.5em;
    min-height: 3rem;
    color: var(--btn-fg-color);
    background-color: var(--btn-bg-color);
}
.button.active,
.button:active,
.button:focus,
.button:hover {
    color: var(--btn-fg-color);
    text-decoration: none;
    filter: brightness(90%);
}


/* Sample variant or modification */
.variant-style-a.section {
    align-items: flex-end;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width:1024px) {
    .variant-style-a.section {
        --padding-y: 5rem;
    }
}

.variant-style-a .heading-1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 1.1;
}
@media screen and (min-width:1024px) {
    .variant-style-a .heading-1 {
        font-size: 4rem;
    }
}
.variant-style-a .btns-group {
    margin-top: 2rem;
}
 
.variant-style-a .button{
    text-transform: uppercase;
    min-height: 3.5rem;
    padding: 0.25em 2em;
    letter-spacing: 0.05em;
}


/* style-b or modification */
.variant-style-b{
    --bg-color: #2f2b32;
}
.variant-style-b .bg-image{
    top: 12%;
    bottom: 12%;
    left: 12%;
    right: 12%;
    width: auto;
    height: auto;
    border-radius: 1rem;
}